fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
alembic
pytest
pymysql
email-validator
bcrypt==4.1.2
jinja2
python-multipart
itsdangerous
cryptography 
python-jose[cryptography] 
passlib[bcrypt]==1.7.4 
pydantic-settings